@using WebApplication.Models
@{
    ViewBag.Title = "Home Page";
}
@Html.AntiForgeryToken()
@if (!Request.IsAuthenticated)
{
    <div class="intro-header">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>BetterBoard</h1>
                    <h3>A refined version of <strike>Bad</strike>BlackBoard</h3>
                    <hr class="intro-divider">
                    <h4>Now available with external logins</h4>
                    @Html.Partial("~/Views/Account/_CustomExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Deadlines approaching<br>and Blackboard is showing these?</h2>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <br /><br /><br />
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Lost focus <br />because of bad UX?</h2>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="~/Content/img/slowboard1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-offset-10">
                <h2>Switch today and say bye to the slow BlackBoard</h2>
                <br />
                @Html.Partial("~/Views/Account/_CustomExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <br /><br />
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-6 col-lg-offset-2 col-md-offset-2">
                <h3>Welcome back, <span class="username"></span></h3>
                <h4><span class="weatherInfo"></span></h4>
            </div>
            @if (User.IsInRole("Student"))
                {
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 pull-right">
                    <div class="panel panel-info card">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="huge">Test: <span class="testCount">@Session["testCount"]</span></div>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("Index", "Test")">
                            <div class="panel-footer">
                                <span class="pull-left"><i class="fa fa-play" aria-hidden="true"></i> Start Test</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <div class="panel panel-info card">
                    <div class="panel-heading">
                        <h3><b><i class="fa fa-bullhorn" aria-hidden="true"></i> Announcement</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            <p>Loading <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>
                        </div>
                    </div>
                    @if (User.IsInRole("Lecturer"))
                    {
                        <form id="announcementForm">
                            <div class="panel-footer">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">Title</label>
                                    <div class="col-md-10">
                                        <input class="form-control text-box single-line" id="Title" name="Title" type="text" value="" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Text">Text</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" id="Text" name="Text" type="text" value="" required></textarea>
                                    </div>
                                </div>
                                <input type="submit" value="Publish" class="btn btn-success pull-right" />
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $('.body-content').removeClass('container');
        @if (Request.IsAuthenticated)
        {<text>
        $('.body-content').addClass('container');

        $.ajax({
            type: 'GET',
            url: "@Url.Action("AjaxRetrieve", "Test")",
            success: function (res) {
                $('.testCount').text(res);
            },
            error: function (emp) {
                alert('Your Internet connection might be unstable, please refresh and try again.');
            }
        });

        $.ajax({
            type: 'GET',
            url: "@Url.Action("AjaxRetrieveUserName", "Home")",
            success: function (res) {
                $('a[href="/Manage"]').text("Hi " + res);
                $('.username').text(res);
            }
        });


        $.getJSON("http://api.openweathermap.org/data/2.5/forecast/daily?q=Swansea&mode=json&units=metric&cnt=1&APPID=f72cac1a55c68953f7b20e1a5a65ee74", function (result) {
            $('.weatherInfo').text("Swansea weather today: " + result.list[0].weather[0].description).append("<br/> Temperature: " + result.list[0].temp.day + "\xB0");
        });


        $("form").submit(function (e) {
            e.preventDefault(e);
            var data = { title: $('#Title').val(), text: $('#Text').val(), __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
            $.ajax({
                type: 'POST',
                data: data,
                url: "@Url.Action("AjaxCreate", "Announcement")",
                success: function (res) {
                    $('#Title').val("");
                    $('#Text').val("");
                    getAnnouncement();
                }
            });
        });

        getAnnouncement();
        function getAnnouncement() {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("AjaxRetrieve", "Announcement")",
                success: function (res) {
                    $('#accordion').html(" ");
                    for (var i = 0, l = res.length; i < l; i++) {
                        var obj = res[i];
                        var date = moment(obj.PublishTime).format("dddd, MMMM Do YYYY, h:mm:ss a");
                        $('#accordion').append('<div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse' + i + '" class="" aria-expanded="false">' + obj.Title + ' by ' + obj.LecturerName + '</a></h4></div><div id="collapse' + i + '" class="panel-collapse collapse" aria-expanded="false"><div class="panel-body">' + obj.Text + '<br><br>' + date + '</div></div></div>');
                    }
                    $('a[href=#collapse0]').trigger('click');
                }
            });
        }


        </text>
        }

        @if (Request.IsAuthenticated && !User.IsInRole("Student") && !User.IsInRole("Lecturer")) {
        <text>
        window.location.reload();
        </text>
        }

        @if (Request.IsAuthenticated && User.IsInRole("Student") && Session["loginMessage"] != null)
        {<text>
        var str = '@Session["loginMessage"]';
        setToastr();
        toastr["info"]('@Html.ActionLink("View Now", "Index", "Test", null, new { @class = "btn btn-danger btn-sm" })', str);
        ClearSession();

        function ClearSession() {
            var data = { type: 'loginMessage', __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClearSession", "Session")",
                data: data
            });
        }
        </text>}


    </script>
}
