@using WebApplication.Models
@{
    ViewBag.Title = "Home Page";
}
@Html.AntiForgeryToken()
@if (!Request.IsAuthenticated)
{
    <div class="intro-header">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>BetterBoard</h1>
                    <h3>A refined version of <strike>Bad</strike>BlackBoard</h3>
                    <hr class="intro-divider">
                    <h4>Now available with external logins</h4>
                    @Html.Partial("~/Views/Account/_CustomExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Deadlines approaching<br>and Blackboard is showing these?</h2>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <br /><br /><br />
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Lost focus <br />because of bad UX?</h2>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="~/Content/img/slowboard1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="banner">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-offset-10">
                <h2>Switch today and say bye to the slow BlackBoard</h2>
                <br />
                @Html.Partial("~/Views/Account/_CustomExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="panel panel-primary card">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-5">
                                <h1><b>Tests</b></h1>
                            </div>
                            <div class="col-xs-7 text-right">
                                <div class="huge">Remain: <span class="testCount">@Session["testCount"]</span></div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Index", "Test")">
                        <div class="panel-footer">
                            <span class="pull-left"><i class="fa fa-play" aria-hidden="true"></i> Start Test</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6 ">
                <h3>Welcome back, <span class="username"></span></h3>
                <h4><span class="weatherInfo"></span></h4>
            </div>
        </div>
    </div>

        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Lost focus <br />because of bad UX?</h2>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="~/Content/img/slowboard1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

}
@section scripts {
    <script>
        $('.body-content').removeClass('container');
        @if (Request.IsAuthenticated)
        {<text>
        $('.body-content').addClass('container');

        $.ajax({
            type: 'GET',
            url: "@Url.Action("AjaxRetrieve", "Test")",
            success: function (res) {
                $('.testCount').text(res);
            },
            error: function (emp) {
                alert('Your Internet connection might be unstable, please refresh and try again.');
            }
        });

        $.ajax({
            type: 'GET',
            url: "@Url.Action("AjaxRetrieveUserName", "Home")",
            success: function (res) {
                $('a[href="/Manage"]').text("Hi " + res);
                $('.username').text(res);
            }
        });

        $.getJSON("http://api.openweathermap.org/data/2.5/forecast/daily?q=Swansea&mode=json&units=metric&cnt=1&APPID=f72cac1a55c68953f7b20e1a5a65ee74", function (result) {
            $('.weatherInfo').text("Swansea weather today: " + result.list[0].weather[0].description + " with a temperature of " + result.list[0].temp.day + "\xB0");
        });

        </text>
        }

        @if (Request.IsAuthenticated && !User.IsInRole("Student") && !User.IsInRole("Lecturer")) {
        <text>
        window.location.reload();
        </text>
        }

        @if (Request.IsAuthenticated && User.IsInRole("Student") && Session["loginMessage"] != null)
        {<text>
        var str = '@Session["loginMessage"]';
        setToastr();
        toastr["info"]('@Html.ActionLink("View Now", "Index", "Test", null, new { @class = "btn btn-danger btn-sm" })', str);
        ClearSession();

        function ClearSession() {
            var data = { type: 'loginMessage', __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClearSession", "Session")",
                data: data
            });
        }
        </text>}


    </script>
}
