@model IEnumerable<WebApplication.Models.ResponseModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MCQModels.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionModels.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionModels.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MCQModels.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OptionModels.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionModels.Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
